* ::-webkit-scrollbar {
    width: 12px
}

* ::-webkit-scrollbar-track {
    background-color: #FAF7FD;
}

* ::-webkit-scrollbar-thumb {
    background-color: #BB99DD;
    border-radius: 10px;
    border: 2px solid #FAF7FD;
}